@import '../../assets/style/~variable.scss';
.navbar {
    padding: 1em 1em 1em 1em;
.container {
    .sarkblog-logo {
        height: 69px;
        width: 200px;
        -o-object-fit: cover;
        object-fit: cover;
    }
    a {
        color: $primaryColor;
        font-size: 18px;
    }
    .navbar-brand {
        color: $primaryBlue;
        letter-spacing: 2px; 
        font-size: 2em;
        font-weight: 500;
    }
    .navbar-nav {
        padding: 1em 0em 0em 2em;
    }
    .nav-button {
        background-color: $primaryGreen;
        margin: 0.2em 1em 1em 1em ;
        border-radius: 27px;
        button {
            color: $primaryWhite;
            font-size: 1em;
            font-weight: 500;
            letter-spacing: 2px;
            i {
                margin-left: 5px;
                font-size: 1em;
            }
        }
    }
}
}
@media only screen and (max-width: 567px) {
    .navbar-banner {
        .navbar-brand {
            img {
                height: 57px !important;
                width: 262px !important;
            }
        }
    }
}
@media only screen and (max-width: 367px) {
    .navbar-banner {
        .navbar-brand {
            img {
                height: 50px !important;
                width: 127px !important;
            }
        }
    }
}