@import '../../../assets/style/~variable.scss';

.example-container {
    background-color: $lightBlue;
    margin: 7em 0em 0em 0em;
    height: 102vh;
    h2 {
        color: $primaryWhite;
        font-size: 2.5em;
        font-weight: 600;
    }
    .example-card {
        background-color: $primaryWhite;
        border-radius: 12px;
        padding: 0.4em 1em;
        mat-form-field {
            padding: 2px 15px;
        }
        .button-row {
            button{
            width: 100%;
            padding: 5px;
            border-radius: 27px;
            font-size: 1.3em;
            font-weight: 600;
            }
            .button-register {
                background-color: $primaryGreen;
            }
        }
    }
}
@media only screen and (max-width: 576px) {
    .example-container {
        margin-top: 6em;
      h2 {
        font-size: 1.5em;
      }
    }
    }