@import '../../assets/style/~variable.scss';

.clip-path {
   
    margin-top: 22em;
    background: $primaryDark;
    min-height: 300px;
    width: 100%;
    clip-path: polygon(41% 22%, 55% 24%, 69% 21%, 82% 15%, 100% 0, 100% 100%, 0 100%, 0 0, 18% 13%, 31% 19%);
}

footer {
    // margin-top: -20em;
   
    width: 100%;
    .footer-banner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 8em 0em 0em 0em;
        color: $secondaryWhite;

        h3 {
            font-size: 1.3em;
            padding: 0.8em 0em;
            font-weight: 500;
            letter-spacing: 2px;
        }
        ul {
            li {
                list-style-type: none;
                text-align: left;
                line-height: 1.5;
            }
        }
    }
     .footer-logo {
         color: $primaryWhite;
         h3{
             font-size: 2em;
              padding:0 0;
              margin: 0;
         }
         p{
             color: $secondaryWhite;
             font-size: 15px;
            
         }
         .footer-social {
            i {
                margin-right: 0.7em;
                font-size: 1.4em;
            }
         }
    }
    .footer-bottom {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 7em 1em -1em 1em;
        border-top: 1px solid $primaryColor;
        p {
            margin-left: 2em;
            padding: 1.5em;
        }
    }
   
}