<!-- 
<header data-v-22791a1b="" data-v-0cc2979f="" class="page-header bg-img-cover overlay overlay-60 page-header-dark" data-v-7930edba=""
   >
   <div class="container">
   <div data-v-0cc2979f="" data-v-22791a1b="" class="page-header-content">
     <div data-v-0cc2979f="" data-v-22791a1b="" class="container text-center">
       <div data-v-0cc2979f="" data-v-22791a1b="" class="row justify-content-center">
         <div data-v-0cc2979f="" data-v-22791a1b="" class="col-lg-8">
           <h1 data-v-0cc2979f="" data-v-22791a1b="" class="page-header-title mb-3">Publications</h1>
           <p data-v-0cc2979f="" data-v-22791a1b="" class="page-header-text mb-0">Browse articles, keep up to date, and learn more on our blog!</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <span data-v-c5f3fcf8="" data-v-22791a1b="">
      <div data-v-c5f3fcf8="" class="svg-border-rounded text-light">
        <svg data-v-c5f3fcf8="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
          <path data-v-c5f3fcf8="" d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
        </svg>
      </div>
    </span>
  </header> -->
<div data-v-c5f3fcf8="" class="svg-border-rounded text-dark">
    <svg data-v-c5f3fcf8="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none"
        fill="currentColor">
        <path data-v-c5f3fcf8="" d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
    </svg>
</div>
<div class="clip-path">
    <footer class="py-5 footer">
        <div class="container">
            <div class="col-md-12">
                <div class="footer-banner">
                    <div class="footer-logo col-md-3">
                        <h3><a href="">SarkBlog</a></h3>
                        <p>We Moves With Technology</p>

                        <div class="d-flex footer-social">
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-facebook"></i>
                            <i class="fab fa-github"></i>
                            <i class="fab fa-twitter"></i>
                        </div>
                    </div>

                    <div class="product-area col-md-3">

                        <ul>
                            <h3>Products</h3>
                            <li>Landing</li>
                            <li>Transportation</li>
                            <li>Real estate</li>
                            <li>Construction</li>
                        </ul>

                    </div>
                    <div class="technical-area col-md-3">

                        <ul>
                            <h3>Technical</h3>
                            <li>Landing</li>
                            <li>Transportation</li>
                            <li>Real estate</li>
                            <li>Construction</li>
                        </ul>
                    </div>
                    <div class="legal-area col-md-3">

                        <ul>
                            <h3>Legal</h3>
                            <li>Landing</li>
                            <li>Transportation</li>
                            <li>Real estate</li>
                            <li>Construction</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <p class="m-0 text-center text-white">Copyright &copy; SarKBlog 2020</p>
                <p class="m-0 text-center text-white">Privacy Policy · Terms & Conditions</p>
            </div>
        </div>
    </footer>
</div>