<header data-v-22791a1b="" data-v-0cc2979f="" class="page-header bg-img-cover overlay overlay-60 page-header-dark"
  data-v-7930edba="">
  <div class="container">
    <div data-v-0cc2979f="" data-v-22791a1b="" class="page-header-content">
      <div data-v-0cc2979f="" data-v-22791a1b="" class="container text-center">
        <div data-v-0cc2979f="" data-v-22791a1b="" class="row justify-content-center">
          <div data-v-0cc2979f="" data-v-22791a1b="" class="col-lg-8">
            <h1 data-v-0cc2979f="" data-v-22791a1b="" class="page-header-title mb-3">Publications</h1>
            <p data-v-0cc2979f="" data-v-22791a1b="" class="page-header-text mb-0">Browse articles, keep up to date, and
              learn more on our blog!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span data-v-c5f3fcf8="" data-v-22791a1b="">
    <div data-v-c5f3fcf8="" class="svg-border-rounded text-light">
      <svg data-v-c5f3fcf8="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none"
        fill="currentColor">
        <path data-v-c5f3fcf8="" d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
      </svg>
    </div>
  </span>
</header>

<section data-v-0e51b078="" data-v-6dd90c3b="" class="py-10 bg-white" data-v-7930edba="">
  <h3 class="feature-banner text-center m-4">Our Features</h3>
  <div data-v-6dd90c3b="" data-v-0e51b078="" class="container">
    <div data-v-6dd90c3b="" data-v-0e51b078="" class="item-banner row text-center">
      <div data-v-6dd90c3b="" data-v-0e51b078="" class="col-lg-4 mb-5 mb-lg-0 feature-text">
        <div data-v-6dd90c3b="" data-v-0e51b078=""
          class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4">
          <svg data-v-6dd90c3b="" data-v-0e51b078="" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="feather feather-droplet">
            <path data-v-6dd90c3b="" data-v-0e51b078="" d="M12 2.69l5.66 5.66a8 8 0 1 1-11.31 0z">

            </path>
          </svg>
        </div>
        <h2 data-v-6dd90c3b="" data-v-0e51b078="">Design</h2>
        <p data-v-6dd90c3b="" data-v-0e51b078="" class="mb-0">We start by creating a set of brand guidelines and
          standards</p>
      </div>
      <div data-v-6dd90c3b="" data-v-0e51b078="" class="col-lg-4 mb-5 mb-lg-0  feature-text">
        <div data-v-6dd90c3b="" data-v-0e51b078=""
          class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4">
          <svg data-v-6dd90c3b="" data-v-0e51b078="" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="feather feather-code">
            <polyline data-v-6dd90c3b="" data-v-0e51b078="" points="16 18 22 12 16 6"></polyline>
            <polyline data-v-6dd90c3b="" data-v-0e51b078="" points="8 6 2 12 8 18"></polyline>
          </svg></div>
        <h2 data-v-6dd90c3b="" data-v-0e51b078="">Develop</h2>
        <p data-v-6dd90c3b="" data-v-0e51b078="" class="mb-0">
          Our award winning development team creates personalized digital experiences
        </p>
      </div>
      <div data-v-6dd90c3b="" data-v-0e51b078="" class="col-lg-4 feature-text">
        <div data-v-6dd90c3b="" data-v-0e51b078=""
          class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4">
          <svg data-v-6dd90c3b="" data-v-0e51b078="" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="feather feather-truck">
            <rect data-v-6dd90c3b="" data-v-0e51b078="" x="1" y="3" width="15" height="13"> </rect>
            <polygon data-v-6dd90c3b="" data-v-0e51b078="" points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon>
            <circle data-v-6dd90c3b="" data-v-0e51b078="" cx="5.5" cy="18.5" r="2.5"> </circle>
            <circle data-v-6dd90c3b="" data-v-0e51b078="" cx="18.5" cy="18.5" r="2.5"></circle>
          </svg>
        </div>
        <h2 data-v-6dd90c3b="" data-v-0e51b078="">Deliver</h2>
        <p data-v-6dd90c3b="" data-v-0e51b078="" class="mb-0">
          Our products are created on time, and to your exact specifications
        </p>
      </div>
    </div>


    <span data-v-c5f3fcf8="" data-v-0e51b078="">
      <div data-v-c5f3fcf8="" class="svg-border-rounded text-light">
        <svg data-v-c5f3fcf8="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none"
          fill="currentColor">
          <path data-v-c5f3fcf8="" d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
        </svg>
      </div>
    </span>
  </div>
</section>

<section class="blog-banner">
  <h2 class="recent-blog text-center m-5">Recent Blogs</h2>
  <div class="container">
    <div class="row">
      <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>
      <div *ngFor="let post of posts" data-v-0cc2979f="" data-v-0e51b078="" class="col-md-6 col-xl-4 mb-5">
        <a data-v-0cc2979f="" data-v-0e51b078="" class="card post-preview lift h-100">
          <img data-v-0cc2979f="" data-v-0e51b078="" src="{{post.postImgUrl}}" alt="..." class="card-img-top">
          <div data-v-0cc2979f="" data-v-0e51b078="" class="card-body">
            <a [routerLink]="['/details/', post._id]">
              <h5 data-v-0cc2979f="" data-v-0e51b078="" class="card-title">{{post.postTitle}}</h5>
            </a>
            <p data-v-0cc2979f="" data-v-0e51b078="" class="card-text">{{post.postDesc}}</p>
          </div>
          <div data-v-0cc2979f="" data-v-0e51b078="" class="card-footer">
            <div data-v-0cc2979f="" data-v-0e51b078="" class="post-preview-meta">
              <img data-v-0cc2979f="" data-v-0e51b078="" src="https://source.unsplash.com/e12wQLAjQi0/100x100"
                class="post-preview-meta-img">
              <div data-v-0cc2979f="" data-v-0e51b078="" class="post-preview-meta-details">
                <div data-v-0cc2979f="" data-v-0e51b078="" class="post-preview-meta-details-name">Henry Iman</div>
                <div data-v-0cc2979f="" data-v-0e51b078="" class="post-preview-meta-details-date">Feb 3 · 7 min read
                </div>
              </div>
              <div data-v-0cc2979f="" data-v-0e51b078="" class="post-update">
                <div data-v-0cc2979f="" data-v-0e51b078="" class="post-preview-meta-details-name">{{post.updated}}</div>

              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- <section class="blog-banner">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
<div *ngFor="let post of posts" data-v-0cc2979f="" data-v-0e51b078="" class="col-md-6 col-xl-4 mb-5">
  
  <a data-v-0cc2979f="" data-v-0e51b078="" [routerLink]="['/details/', post._id]" class="card post-preview lift h-100">
    <img data-v-0cc2979f="" data-v-0e51b078="" src="{{post.postImgUrl}}" alt="..." class="card-img-top">
    <div data-v-0cc2979f="" data-v-0e51b078="" class="card-body">
      <h5 data-v-0cc2979f="" data-v-0e51b078="" class="card-title">{{post.postTitle}}</h5>
      <p data-v-0cc2979f="" data-v-0e51b078="" class="card-text">{{post.postDesc}}</p>
    </div>
    <div data-v-0cc2979f="" data-v-0e51b078="" class="card-footer">
      <div data-v-0cc2979f="" data-v-0e51b078="" class="post-preview-meta">
        <img data-v-0cc2979f="" data-v-0e51b078="" src="https://source.unsplash.com/e12wQLAjQi0/100x100" class="post-preview-meta-img">
        <div data-v-0cc2979f="" data-v-0e51b078="" class="post-preview-meta-details">
          <div data-v-0cc2979f="" data-v-0e51b078="" class="post-preview-meta-details-name">Henry Iman</div>
          <div data-v-0cc2979f="" data-v-0e51b078="" class="post-preview-meta-details-date">Feb 3 · 7 min read</div>
        </div>
        <div data-v-0cc2979f="" data-v-0e51b078="" class="post-update">
          <div data-v-0cc2979f="" data-v-0e51b078="" class="post-preview-meta-details-name">{{post.updated}}</div>
          
        </div>
      </div>
    </div>
  </a>
</div>
</section> -->


<!-- <div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let post of posts">
      <mat-card class="example-card" [routerLink]="['/details/', post._id]">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{post.postTitle}}</mat-card-title>
          <mat-card-subtitle>{{post.updated}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{post.postImgUrl}}" alt="{{post.postTitle}}">
        <mat-card-content>
          {{post.postDesc}}
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->