<div class="home">
  <!-- <svg class="mb-0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1920"
    height="246" viewBox="0 0 1920 246">
    <defs>
      <style>
        .a {
          fill: #fff;
          stroke: #707070;
        }
        .b {
          clip-path: url(#a);
        }
        .c,
        .d {
          fill: #efefef;
        }
        .d {
          opacity: 0.8;
        }
      </style>
      <clipPath id="a">
        <rect class="a" width="1920" height="246" transform="translate(0 774)" />
      </clipPath>
    </defs>
    <g class="b" transform="translate(0 -774)">
      <g transform="translate(0 20)">
        <path class="c" d="M-81.836,813.248S442.593,936.4,1005.249,936.4,2035.678,780,2035.678,780V999.937H-81.836Z" />
        <path class="d" d="M-368.443,759.412S442.593,936.4,1005.249,936.4,2035.678,780,2035.678,780V999.937H-81.836Z"
          transform="translate(215 -28)" />
      </g>
    </g>
  </svg> -->
</div>

<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let post of posts">
      <mat-card class="example-card" [routerLink]="['/details/', post._id]">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{post.postTitle}}</mat-card-title>
          <mat-card-subtitle>{{post.updated}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{post.postImgUrl}}" alt="{{post.postTitle}}">
        <mat-card-content>
          {{post.postDesc}}
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
