@import "../../assets/style/~variable.scss";

.detail-banner {

    .post-image {
        width: calc(100% + 32px);
        margin: 0 -16px 16px;
    }
    .main-banner {
        .post-title {
            font-size: 2em;
            font-weight: 600;
            line-height: 43px;
            word-spacing: 1px;
            letter-spacing: 1px;
        }
        .post-info {
            .post-info-sub {
                p {
                    border-right: 2px solid gray;
                    margin-left: 5px;
                    padding: 0 10px 0 0;
                    span {
                        background: $primaryTeal;
                        font-size: 1.2em;
                        color: $primaryWhite;
                        font-weight: 500;
                    }
                    strong {
                        margin-right: 5px;
                        padding-left: 0.8em;
                    }
                }
            }
        }
        mat-card-content {
            font-size: 1.1em;
            width: 100%;
        }
    }
    .side-banner {
        margin-top: 10em;
        box-shadow: 0 0 10px -4px black;

        .post-share-area {
            p {
                padding-top: 15px;
                font-size: 2em;
                font-weight: 600;
                text-align: center;
                text-transform: capitalize;
            }
            padding: 0;
            background-color: #f8f8f8;
            .social-default {
                list-style-type: none;
                justify-content: center;
                align-items: center;
                font-size: 2.5em;
                li {
                    margin-right: 0.5em;
                    a {
                        list-style: none;
                    }
                }
            }
        }
        .trending-posts {
            margin-bottom: 0rem;
            .topic-border {
                position: relative;
                border-bottom: 2px solid $primaryBlack;
                .topic-box-lg:before {
                    z-index: 2;
                    content: "";
                    top: 0;
                    right: -8px;
                    position: absolute;
                    width: 0;
                    height: 0;
                }
                .topic-box-lg {
                    display: inline-block;
                    position: relative;
                    color: $primaryWhite;
                    height: 40px;
                    background-color: $primaryBlack;
                    padding: 0 20px;
                    line-height: 40px;
                    text-align: center;
                    text-transform: capitalize;
                    font-weight: 600;
                    font-size: 18px;
                    z-index: 2;
                }
                .topic-box-lg:after {
                    content: "";
                    height: 100%;
                    width: 100%;
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                }
            }
            .topic-border:after {
                position: absolute;
                display: block;
                content: "";
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 2;
                width: 100%;
                height: 2px;
            }
            .color-cod-gray:before {
                border-top: 8px solid #111;
                border-right: 8px solid transparent;
            }
        }
       
        .card-body {
            width: 100%;
            margin-top: 1em;
            padding: 0px 3px;
            .user-image{
                border-radius: 100%;
                width: 100%;
            }
            .trending-posts {
             .image-post{
                 width: 100%;
                
                 img{
                     width: 100%;
                     height: 100px auto;
                 }
                 p:first-child {
                    font-size: 10px;
                }
                p {
                    font-size: 12px !important;
                }
             } 

             .text-desc{
                 margin-left: 10px;
                 width: 100%; 
                 color: $secondaryWhite;
                 cursor: pointer;
                 p:first-child {
                     font-size: 10px;
                 }
                 p {
                     font-size: 12px !important;
                 }
             }  
             
            }
            .author {
                h6 {
                    margin-top: 1.5em;
                    font-size: 1.5em;
                    text-transform: capitalize;
                }
                .user-img{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    img {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                }
                }
                
                p {
                    font-size: 1em;
                    text-transform: capitalize;
                    text-align: center;
                    margin: 1em;
                }
                .social-accounts {
                    h3 {
                        padding: 0.4em 0em;
                        font-size: 1.5em;
                        font-weight: 600;
                        text-transform: capitalize;
                        text-align: center;
                    }
                    .social-icons {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        a {
                            font-size: 1.8em;
                            text-align: center;
                            margin: 8px;

                        }
                    }
                }
            }
            .active {
                color: $primaryTeal;
                background: $secondaryDark;
            }
            
            .newsletter-area {
                 padding: 0.8em;
                 background-color: $primaryBlue;
                 h2 {
                     font-size: 1.8em;
                     color: $primaryBlack;
                     font-weight: 700;
                     text-align: center;
                 }
                 img {
                     display: flex;
                     flex-direction: column;
                     align-items: center;
                 }
                 .subscription-needs-validation1 {
                     .input-group {
                         .input-group-addon {
                             button {
                                border: none;
                                 i {
                                     font-size: 2.1em;
                                    

                                 }
                             }
                         }
                     }
                 }
                 

             }

        }
    }
   
}
@media(min-width: 768px) and (max-width: 991px) {
.side-banner {
    .post-share-area {
        .social-default {
            font-size: 1.8em !important;
            margin-right: 1em;
            li {
                margin-right: 0.5em !important;
            }
        }
    }
    .author {
        p {
            margin: 0.1em !important;
        }
    }
    .social-accounts {
        h3 {
            font-size: 1em;
        }
        .social-icons {
            a {
                font-size: 1.4em !important;
                margin: 5px !important;
    
            }
        }
    }
}
}
