$primaryColor: #7f7f7f;
$primaryWhite: #fff;
$primaryBlack: #000;
$primaryBlue: #0061f2;
$primaryGreen: #01ba94;
$primaryDark:#1f2d41;
$secondaryWhite: #a7abb3;
$secondaryDark: #a0a7b0;
$secondaryColor: #304069;
$primaryGray: #8e95a0;